<h1>Registration</h1>
<p>This is the page to create a reg and to access your registration</p>

<%= link_to 'Go Back Home', root_url(subdomain: false)%>

<p>This view is found in app/views/reg/index.html.erb</p>