<h1>Admin Area</h1>

<%= link_to "Registrations Search", search_index_path %>
<p>see pending reg</p>
<p>edit users</p>
<p>view stats</p>
<p>mailer</p>
<p>dates setup</p>

<p>Find me in app/views/admin/index.html.erb</p>
