<% content_for :title, "Editing con registration" %>

<h1>Editing con registration</h1>

<%= render "form", con_registration: @con_registration %>

<br>

<div>
  <%= link_to "Show this con registration", @con_registration %> |
  <%= link_to "Back to con registrations", con_registrations_path %>
</div>
