<p style="color: green"><%= notice %></p>

<% content_for :title, "Con registrations" %>

<h1>Con registrations</h1>
<% if current_user.admin? %>
  <h2 style="color:#FF0000">ADMIN VERSION</h2> 
<% end %>

<div id="con_registrations">
  <% @con_registrations.each do |con_registration| %>
    <p>
      <%= link_to "#{con_registration.fur_name}'s #{con_registration.created_at} crash con registration", con_registration %>
    </p>
  <% end %>
</div>

<%= link_to "New con registration", new_con_registration_path %>
